.header{
    display: flex;
    padding-bottom: 7%;
}
.header .left-rec{
    background: #52658F;
    width: 80%;
    display: flex;
    height: 130px;
    margin-bottom: 2%;
    clip-path: polygon(0% 0%,100% 0%, 90% 100%, 00% 100%);
    position: absolute;
}
.header .left-rec .logo{
    width:120%;
    height:90%;
    margin:0%;
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat Alternates",serif;
    color: white;
    box-shadow: 4px 4px 15px black;
    p{
        margin-top: 35px !important;
        margin-left: 35px;
    }
}
.header .tri-left{
        width: 300px;
        height: 200%;
        box-shadow: inset -15px 4px 15px black;
        clip-path: polygon(15% 0%,110% 0%, 50% 50%, 50% 50%);
        background: #D9D9D9;
        margin-left: 80.4%;   
        position: absolute;
        box-shadow: inset 4px 4px 15px black !important;

} 
.header .parlelo{
    display: flex;
    margin-top: 0%;
    width: 422px; 
    height: 130px;
    background: #A3B1D1 ;
    margin-left: 78%;
    clip-path: polygon(00% 0%,100% 0%, 100% 100%, 25% 100%);
    position: absolute;
}
.header .parlelo .pfp img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50px !important;
    margin-left: 200%;
    margin-top: 70%;
    position: static;
}
.header .username{
    margin-left: 26%;
    margin-top: 10%;
    font-size: 20px;
    font-family: "Montserrat Alternates", serif !important;   
    position: relative;
    max-width: 40%;
    color: rgb(0, 0, 0);
}
