.peoplepage{
    background: #F7F5E6;
    height: 100vh;  
    font-family: "Montserrat Alternates", serif !important;  
}
.peoplepage .contain{
    position: absolute;
    background-color: #E8E8E8;
    height: 70%;
    width: 70%;
    margin-left: 25%;
    margin-top: 8%;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.435);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.411);
    label{
        margin-left: 1%;
    }
}
.peoplepage .name{
    margin-top: 4%;
}
.peoplepage .nameinsr{
    border-radius: 50px;
    border: none !important;
    box-shadow:0.1px 1px 4px 2px  #525252;
    margin-top: 2%;
}
.peoplepage .srbtn{
    margin-top: -7%;
    height: 59px;
    width: 122px;
    margin-left: 90% !important; 
    border: none;
    border-radius: 50px;
    margin-left: 90%; 
    background-color: #DCFFA8;  
    color: #000000; 
    transition:0.2s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.411);
}
.peoplepage .srbtn:hover{
    background-color: gray;
    border-right: 20px solid #CFE7FF;
    border-left: 20px solid #CFE7FF;
    border-top: 2px solid #CFE7FF;
    border-bottom:2px solid #CFE7FF;
    color: #fff;
}
.peoplepage .tr_section{
    max-height: 700px;
    width: 100%;
    background-color: transparent !important;
    position:absolute !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
    cursor: pointer !important;
}
.peoplepage .tr_section::-webkit-scrollbar {
    width: 15px !important;
    background-color: transparent !important;
    border-top-left-radius: 10px !important;
}

.peoplepage .tr_section::-webkit-scrollbar-thumb {
    background-color:#52658F!important;
    border-radius: 10px !important;
    border: none;
}
.peoplepage .li-item{
    display: flex;
    margin-top: 2%;
    margin-bottom: 1%;
}
.peoplepage .people_img{
    border-radius: 50px;
    height: 45px;
    position: absolute;
    margin-left: 5%;
    margin-top: -0.5%;
}
.peoplepage .item-text{
    font-size: 20px;
    margin-left: 10%;
    position: absolute;
    max-width: 40%;
    color: #000000;
}
.peoplepage .sub_name{
    margin-left: 59%;
    font-size: 20px;
    color: #827f7f;
    max-width: 20%;
}
.peoplepage .list-group {
    background-color: transparent;
  }
.peoplepage .list-group-item {
    background-color: transparent;  
  }
.peoplepage .prof_icon{
    margin-left: 85%;
    position: absolute;
    height: 20px;
}
.peoplepage .prof_icon:hover{
    color: #5FB9A2;
}
.peoplepage .trash_icon{
    margin-left: 91%;
    position: absolute;
    height: 20px;
}
.peoplepage .trash_icon:hover{
    color: red;
}
.peoplepage .navbarline1{
    position: static;
    width: 95%;
    height: 1px;
    background-color: #000000;
    margin-left: 3%;
    margin-right: 5%;
    margin-top:10px;
}